body {
    background-color: #2c2c2c;
}
nav img{
  bottom: 15px;
  right: -15px;
  position: relative;
}

nav .logo {
  font-size: 40px;
  margin-left: 10px;
  font-weight: bold;
  position: relative;
  top: -65px;
  right: -25px;
  color: #fff;
}

h3 {
  margin-left: 15px;
  position: relative;
  right: -29px;
  top: -80px;
  color: #fff;
}

nav ul {list-style: none}
nav ul li {
  color: white;
  margin-top: 10px;
  font-weight: normal;
  font-size: 20px;
  transition: 0.3s, transform .6s ease;
  position: relative;
  top: -80px;
  left: -10px;
}


nav ul li:hover, aside ul a:hover {
  color: #F85F73;
  transform: translate(0.25rem,0.25rem);
  transition: 0.5s;
}
main .features {
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}
main .features h1 {font-size: 50px;}

.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #181818;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  height: 100%;
  border-right: 5px solid #F85F73;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.opennav {
  margin: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: 0.5s;
  font-size: 30px;
  transform: scale(1.2);
}

.opennav:hover {
  color: #F85F73;
  transition: 0.3s;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  margin-left: auto;
  margin-right: auto;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  position: relative;
  bottom: -7px;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: white;
}

.button:hover svg path {
  fill: white;
}


